

<div ng-controller='BattleController'>
<!-- 
<input type="text" ng-model="find_id">
<br> -->

<h1> Battle Menu </h1>

<br>

<div class='enemyContainer'>
	<div class='enemyDisplay' ng-repeat='enemy in allEnemies'>
	{{enemy.name}}
	{{enemy.current_hp}} / {{enemy.max_hp}}
	</div>
</div>

<div class='charContainer'>
	<div class="charDisplay" ng-repeat='character in allCharacters'>
	{{character.name}}
	{{character.current_hp}} / {{character.max_hp}}
	</div>
</div>

<div class='animation'></div>



</div>