

<div ng-controller='BattleController'>
<!-- 
<input type="text" ng-model="find_id">
<br> -->

<h1> Battle Menu </h1>

<br>

<div class='enemyContainer'>
	<div class='enemyDisplay' ng-repeat='enemy in allEnemies'>
	{{enemy.name}}
	{{enemy.current_hp}} / {{enemy.max_hp}}
	</div>
</div>

<div class='charContainer'>
	<div class="charHP">{{currentTarget.current_hp}}</div>
</div>

<!-- <div class='animation'></div> -->
{{currentTarget.name}}

<button ng-click='hurtSomething(currentTarget)'>Hurt him!</button>
<button ng-click='switchTarget(character2)'>Character Two</button>
<button ng-click='switchTarget(character3)'>Character Three</button>
<button ng-click='switchTarget(character4)'>Character Four</button>




</div>