/*Character and Enemy*/

.character2{
	width: 20%;

	background-color: red;
}

.character3{
	width: 20%;

	background-color: green;
}

.character4{
	width: 20%;

	background-color: blue;
}

.enemy2{
	width: 20%;
	background-color: yellow;
}

.enemy3{
	width: 20%;
	background-color: purple;
}

.enemy4{
	width: 20%;
	background-color: orange;
}


/*Action UI*/

.action-box{
	z-index: 1;
	position: absolute;

	bottom: 0%;
	right: 50%;

	color: white;

	margin-right: -21%;

	background: url(images/actionbg.jpg) center center fixed;

	width: 42%;
	height: 25%;
}

.action-box button{
	text-shadow: 2px 2px 5px black;
	position:absolute;
	width: 20%;
	height:15%;
	left: 5%;
}

.action-box button:hover { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.attack{
	background-color: #E62E00;
	color: white;
	top:15%;
}

.abilities{
	color: white;
	background-color: #3366FF;
	top: 35%;
}

.run{
	color: white;
	background-color: gold;
	top: 75%;
}

.items{
	color: white;
	background-color: #0B8A37;
	top: 55%;
}

/*Character Status UI*/

.party-status{
	position: absolute;
	bottom: 0%;
	left: 0%;

	width: 30%;
	height: 25%;

	background-color: green;
}




